.event-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
        @media screen and (min-width: 768px) {
            width: 688px;     
        }
        @media screen and (min-width: 1280px) {
            width: 1280px;     
        }
}
.event-form {
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 4px 9px 0px #A68DAE47;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
        
      @media screen and (min-width: 768px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
          gap: 10px;     
        }
      
        @media screen and (min-width: 1280px) {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 1fr);         
        } 
}

.input {
    width: 240px;

    @media screen and (min-width: 768px) {
        width: 308px;
    }
    @media screen and (min-width: 1280px) {
        width: 372px;
    }
    justify-self: center;
}

.input-field {
    border-radius: 3px;
    outline: none;
    border: 1px solid lightgray;
    width: 240px;

    @media screen and (min-width: 768px) {
        width: 308px;
    }
    @media screen and (min-width: 1280px) {
        width: 372px;
    }
}

.dateTime-input-field {
    border-radius: 3px;
    outline: none;
    border: 1px solid lightgray;
}

.input-field:active {
    border: 1px solid var(--accent-color);
}

.label {
    color: var(--accent-color)
}

button {
    width: 240px;
    background-color: var(--accent-color);
    border: none;
    outline: none;
    border-radius: 5px;
    justify-self: center;

    @media screen and (min-width: 768px) {
        width: 193px;
    }
    @media screen and (min-width: 768px) {
        width: 193px;
    }
}

.button {
    justify-self: center;
    
}

.goback {
    background-color: transparent;
    color: var(--accent-color);
}

.title-pretext {
    color: var(--divider-color);
    margin-bottom: 25px;
}

.title-wrapper {
    padding: 15px;
}
