.card-container {
    width: 271px;
    overflow: hidden;
    box-shadow: 2px 4px 9px 0px #A68DAE47;
    height: 480px;
    transition: 0.3s;
    animation: ease-in;
    border-radius: 5px;
    /* position: relative; */
    transform: scale(1);
    margin-bottom: 30px;;
}

.card-container {
    box-shadow: 2px 4px 9px 0px #A68DAE47;
}

.image-container img{
    overflow: hidden;
    width: 100%;
    height: 300px;
    border-radius: 5px 5px 0px 0px;
}

h3, p {
    margin: 0;
    padding: 0;
}

.details {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}

.card-info {
    background-color: var(--primary-color);
}

.card-content {
    /* padding: 15px; */
    transform: translateY(-60px);
    background-color: rgba(255,255,255, 0.3);
    height: 270px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
    animation: ease-in;
}

.card-content:hover {
    transform: translateY(-100px);
}

.date-time {
    color: var(--accent-color);
}

.location {
    color: var(--accent-color);
}

.card-title {
    margin-bottom: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
}

.description {
    padding: 15px;
    overflow: hidden;
}

.btn {
    position: absolute;
    bottom: 3px;
    left: 15px;
}

.text {
    color: var(--primary-color);
}

.btn button {
    background-color: #7B61FF;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}

.btn button:hover {
    background-color: #6243FF;
    transform: scale(1.2);
}