.card-container {
    overflow: hidden;
    width: 272px;
    height: 480px;
        @media screen and (min-width: 768px) {
            width: 332px;
        }
        @media screen and (min-width: 1280px) {
            width: 272px;
        }

    box-shadow: 2px 4px 9px 0px #A68DAE47;
    transition: 0.3s;
    animation: ease-in;
    border-radius: 5px;
    background-color: var(--primary-color);
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.image-container img{
    overflow: hidden;
    width: 100%;
    height: 320px;
    border-radius: 5px 5px 0px 0px;
}

h3, p {
    margin: 0;
    padding: 0;
}

.details {
    padding: 8px 16px 8px 16px;
    display: flex;
    justify-content: space-between;
}

.card-info {
    background-color: var(--primary-color);
    padding-right: 15px;
}

.card-content {
    padding-bottom: 15px;
    transform: translateY(-45px);
    background-color: rgba(255,255,255, 0.3);
    // overflow: hidden;
    position: relative;
    transition: 0.3s;
    animation: ease-in;
}

.card-content:hover {
    transform: translateY(-100px);
}

.date-time {
    color: var(--accent-color);
}

.location {
    color: var(--accent-color);
}

.card-title {
    padding: 16px 16px 8px 16px;
}

.description {
    padding: 8px 16px 8px 16px;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
           line-clamp: 3; 
   -webkit-box-orient: vertical;
    height: 50px;
    line-height: 20px;
    margin-bottom: 45px;
}

.btn {
    position: absolute;
    bottom: 3px;
    left: 15px;
}

.more-info {
    background-color: var(--accent-color);
    margin-left: auto;
    width: 114px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}

.btn button {
    background-color: #7B61FF;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}

.btn button:hover {
    background-color: #6243FF;
    transform: scale(1.1);
}