.header {
    display: flex;
    justify-content: space-between;
    padding: 32px 24px 24px 24px;
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    flex-wrap: wrap;
    max-width: 1280px;
}

.header-title {
    width: 147px;
}