body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #FFFFFF;
  --accent-color: #7B61FF;
  --high-color: #FF2B77;
  --text-color: #3F3F3F;
  --low-color: #6BD475;
  --divider-color: #ACA7C3;
}

a {
  text-decoration: none;
}

code {
  font-family: 'Poppins', sans-serif !important;
}

.container {
  background-image: url(./images/back.jpg);
  padding-right: 30px;
  padding-left: 15px;
  margin: 0;
  height: 100%;
  width: 320px;
  @media screen and (min-width:768px) {
    width: 768px;
  }

  @media screen and (min-width:1280px) {
    width: 1280px;
  }
}